<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <title>WMS</title>
</head>
<body>

<nav id="sidebar">
    <ul>
        <li class="logo">
            <h1>WMS</h1>
        </li>
        <li>
            <a href="/">
                <i class="bx bx-dashboard"></i>
                <span>Home</span>
            </a>
        </li>

        <li class="<%= activePage === 'users' ? 'active' : '' %>">
            <a href="/admin/users">
                <i class="bx bx-spanner"></i>
                <span>Manage Users</span>
            </a>
        </li>

        <li class="<%= activePage === 'add-employee' ? 'active' : '' %>">
            <a href="/add-employee">
                <i class="bx bx-user-plus"></i>
                <span>Add Employee</span>
            </a>
        </li>
    </ul>

    <ul>
        <li class="logout">
            <a href="/login">
                <i class="bx bx-arrow-out-left-square-half"></i>
                <span>Log out</span>
            </a>
        </li>
    </ul>
</nav>

<main>
    <%- body %>
</main>
<form action="/logout" method="GET">
<button type="submit">Logout</button>
</form>
</body>
</html>