<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <title>WMS - Admin</title>
</head>
<body>
    <nav id="sidebar">
        <ul>
            <li class="logo">
                <h1>WMS</h1>
            </li>
            <li class="active">
                <a href="/">
                    <i class="bx bx-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/admin/users">
                    <i class="bx bx-spanner"></i>
                    <span>Manage Users</span>
                </a>
            </li>
            <li>
                <a href="/add-employee">
                    <i class="bx bx-user-plus"></i>
                    <span>Add Employee</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="logout">
                <a href="/login">
                    <i class="bx bx-arrow-out-left-square-half"></i>
                    <span>Log out</span>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="head-container">
            <i class="bx bx-dashboard"></i>
            <h2>Dashboard</h2>
        </div>
        <div class="main-container">
            <img style="display: flex; justify-self: center;" src="https://www.consafelogistics.com/hs-fs/hubfs/Website/Blogs/What%20is%20warehouse%20mamanagment%20system/wms-circle.png?width=2880&height=2048&name=wms-circle.png" alt="temp" width="60%">
        </div>
    </main>
</body>
</html>