* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
    background: linear-gradient(135deg, #1f2d3d, #2e86de);
}

#sidebar {
    top: 0;
    position: sticky;
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 8px;
    background-color: #1f1f1f;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#sidebar .logo {
    padding: 10px 0;
    align-items: center;
    display: flex;
    text-align: center;
}

#sidebar .logo h1 {
    padding-left: 12px;
}

#sidebar ul {
    list-style: none;
    color: #fff;
}

#sidebar ul li {
    padding: 4px;
}

#sidebar ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    display: flex;
    font-weight: 500;
    align-items: center;
    transition: 0.2s;
}

#sidebar ul li a:hover {
    color: #1482db;
}

#sidebar ul li.active a {
    color: #1482db;
    background-color: #2e2e2e;
    border-radius: 12px
}

#sidebar .bx {
    font-size: 30px;
    padding: 10px;
}

#sidebar .logout {
    position: absolute;
    bottom: 0;
}

#sidebar .logout a:hover {
    color: #940101;
}

#sidebar #toggle-btn {
    margin-left: auto;
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
}

main {
    padding: 24px;
}

.head-container {
    border-radius: 1em;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px 1px #303030;
    display: flex;
    align-items: center;
}

.head-container .bx{
    font-size: 36px;
    padding: 5px;
}

.main-container {
    border-radius: 1em;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px 1px #303030;
}

/* Manage Users Table*/

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container table thead {
    text-align: left;
    border-bottom: 2px solid #e2e2e2;
    background-color: #1482db;
    color: #fff;
}

.table-container table tbody td {
    border-bottom: 1px solid #e2e2e2;
}

.table-container table td, th {
    padding: 10px;
}

.table-container .badge {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
}

.table-container .admin { background-color: #e74c3c; }
.table-container .manager { background-color: #f39c12; }
.table-container .staff { background-color: #27ae60; }

.table-container input, select {
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.table-container button {
    padding: 8px 12px;
    background-color: #2e86de;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Add Employee */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    border: 1px solid #ccc;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #2e86de;
}

.full-width {
    grid-column: span 2;
}

.form-actions {
    margin-top: 20px;
    text-align: right;
}

.primary-btn {
    color: #ffffff;
    background-color: #2e86de;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
}

.primary-btn:hover {
    background-color: #1b4f72;
}
