        <div class="head-container">
            <i class="bx bx-home-alt-2"></i>
            <h2>Home</h2>
        </div>
        <div class="main-container">
            <img style="display: flex; justify-self: center;" src="https://www.consafelogistics.com/hs-fs/hubfs/Website/Blogs/What%20is%20warehouse%20mamanagment%20system/wms-circle.png?width=2880&height=2048&name=wms-circle.png" alt="temp" width="60%">
        </div>